@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    --main-font: 'Montserrat';
    background-color: darkslategray;
}

a {
    font-family: var(--main-font);
    text-decoration: none;
    color: rgb(247, 245, 245);
    font-size: 100px;
    align-self: center;
}

.button {
    width: 700px;
    height: 200px;
    background-color: coral;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-radius: 30px;
    transition: 0.3s;
}

.button:hover {
    background-color: rgb(197, 99, 63);
    transition: 0.3s;
    cursor: pointer;
}